<!-- <button (click)="getPokemons()">Click me!</button> -->
<ul class="pokemon-list">
  <li class="pokemon" *ngFor="let pokemon of pokemons | slice:0:10">
    <div class="photos" *ngIf="!pokemon.modeShiny" (click)="changeImg(pokemon)">
      <img [src]="pokemon.sprites.front_default">
      <img [src]="pokemon.sprites.back_default">
    </div>
    <div class="photos" *ngIf="pokemon.modeShiny" (click)="changeImg(pokemon)">
      <img [src]="pokemon.sprites.front_shiny">
      <img [src]="pokemon.sprites.back_shiny">
    </div>
    <h2>{{pokemon.name}}</h2>
    <ul class="type-list">
      <li *ngFor="let type of pokemon.types" class="{{type.type.name}}">{{type.type.name}} </li>
    </ul>
    <ul class="buttom-list" >
      <li *ngFor="let ability of pokemon.abilities"><button>{{ability.ability.name}}</button></li>
    </ul>
  </li>
</ul>